@model TravelTripProje.Models.Siniflar.Hakkimizda
@{
    ViewBag.Title = "Hakkımızda Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("HakkimizdaGuncelle", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ID)

    <div class="form-group">
        @Html.Label("Fotoğraf URL")
        @Html.TextBoxFor(x => x.FotoUrl, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Açıklama")
        @Html.TextAreaFor(x => x.Aciklama, 10, 50, new { @class = "form-control" })
    </div>
    <br />
    <button type="submit" class="btn btn-success">Güncelle</button>
}
