
@model TravelTripProje.Models.Siniflar.BlogYorum
@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Single :: w3layouts</title>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</head>
<body>
    <!---header---->
    <div class="header">
    </div>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">
                <div class="single-grid">
                    @foreach (var x in Model.Deger1)
                    {

                        <img src="@x.BlogImage" style="margin-bottom:20px" alt="" />
                        <h2>@x.Baslik</h2>
                        <p>
                            @x.Aciklama
                        </p>
                    }
                </div>
                @foreach (var y in Model.Deger2)
                {


                    <ul class="comment-list">
                        <li style="list-style: none; margin-bottom: 20px;">
                            <div style="max-width: 600px; text-align: left; display: flex; flex-direction: column; align-items: flex-start;">

                                <!-- Avatar sola yaslı ve üstte -->
                                <img src="~/web2/images/avatar.png"
                                     alt="avatar"
                                     style="width: 60px; height: 60px; margin-bottom: 5px;" />

                                <!-- Kullanıcı adı (kalın ve siyah) -->
                                <span style="font-weight: bold; color: black; margin-bottom: 4px;">@y.KullaniciAdi:</span>

                                <!-- Yorum metni (normal) -->
                                <span style="white-space: pre-wrap; word-break: break-word;">@y.Yorum</span>

                            </div>
                        </li>
                    </ul>


                }

                @Html.Action("YorumYap", "Blog")
            </div>

            <div class="col-md-4 side-content">
                <div class="recent">
                    <h3>Son Bloglar</h3>
                    <ul>
                        @foreach (var y in Model.Deger3.OrderByDescending(x => x.ID))
                        {
                            <li>
                                <a href="/Blog/BlogDetay/@y.ID">
                                    @(y.Baslik.Length > 50 ? y.Baslik.Substring(0, 50) + "..." : y.Baslik)
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="comments">
                    <h3>Son Yorumlar</h3>
                    <ul>
                        @foreach (var y in Model.Deger2.OrderByDescending(x => x.ID).Take(3))
                        {
                            <li>
                                <strong>@y.KullaniciAdi:</strong>
                                @(y.Yorum.Length > 15 ? y.Yorum.Substring(0, 15) + "..." : y.Yorum)
                            </li>
                        }
                    </ul>
                </div>
            </div>


            <div class="clearfix"></div>
        </div>
    </div>

</body>
</html>




