@using TravelTripProje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body>

    <div class="header-banner">
     <div class="wrap">
         <div class="banner">
             <div class="indent">
                 <h2 class="indent-left margin-bot" style="margin-left:27px">Tatil & Seyahat Bloğum</h2>
                 <div class="banner-left">
                     <div class="con-text">
                         <a href="https://www.zomato.com" target="_blank">
                             <div class="grid1-img">
                                 <img src="~/web/images/glass.png" alt="Restaurantlar">
                             </div>
                             <div class="grid1-desc">
                                 <p>Restaurantlar</p>
                             </div>
                         </a>
                         <div class="clear"></div>
                     </div>

                     <div class="con-text">
                         <a href="https://www.flypgs.com" target="_blank">
                             <div class="grid1-img">
                                 <img src="~/web/images/flight.png" alt="Uçuşlar">
                             </div>
                             <div class="grid1-desc">
                                 <p>Uçuşlar</p>
                             </div>
                         </a>
                         <div class="clear"></div>
                     </div>

                     <div class="con-text">
                         <a href="https://www.tripadvisor.com.tr/Attractions" target="_blank">
                             <div class="grid1-img">
                                 <img src="~/web/images/group.png" alt="Yapılacak Şeyler">
                             </div>
                             <div class="grid1-desc">
                                 <p>Yapılacak Şeyler</p>
                             </div>
                         </a>
                         <div class="clear"></div>
                     </div>

                     <div class="con-text">
                         <a href="https://www.avis.com.tr" target="_blank">
                             <div class="grid1-img">
                                 <img src="~/web/images/key.png" alt="Araç Kiralama">
                             </div>
                             <div class="grid1-desc">
                                 <p>Araç Kiralama</p>
                             </div>
                         </a>
                         <div class="clear"></div>
                     </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                           <div class="slider" style="width:100%; max-width:650px; height:auto;">
                            <ul class="rslides" id="slider1">
                            @foreach (var x in Model)
                             {
                                <li><img src="@x.BlogImage" alt="" style="width:100%; height:auto;"></li>
                             }
                         </ul>
                    </div>
                        
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tatil Seyahat Bloğuma Hoşgeldiniz!</h3>
                    <p>
                        Bu projeyi Temmuz 2025 tarihinde başlatıp Ağustos 2025 tarihinde komple bitirmiş bulunmaktayım.
                        Gezip gördüğüm yerleri sizlerle paylaşmak için şahsıma ait mvc5 üzerine kurulu dinamik bir web projesini geliştirdim.
                        Hem Türkiye'den hem de yurt dışından gezip gödüğüm yerleri blog yazıları olarak sizlerle paylaşmak niyetindeyim.
                        Umarım yazdıklarımı beğenirsiniz, keyifli okumalar, sağlıklı günler.
                    </p>
                </div>

    <div style="display:flex; gap:15px; overflow-x:auto; padding:10px;">
        @foreach (var x in Model.OrderByDescending(x => x.Tarih).Take(3))
        {
            <div style="flex:0 0 auto; width:300px;">
                <div class="col-2">
                    <div class="left">
                        <div class="bot-left">
                            <img src="@x.BlogImage" style="width:300px; height:170px;" alt="@x.Baslik" />
                        </div>
                        <div class="left-text">
                            <h4>@x.Baslik</h4>
                            <span class="doller">@x.Tarih.ToString("dd.MM.yyyy")</span>
                            <p>@((x.Aciklama?.Length > 60 ? x.Aciklama.Substring(0, 60) + "..." : x.Aciklama))</p>
                            <p>
                                <a href="/Blog/BlogDetay/@x.ID">
                                    <span class="read">Devamını Oku</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3","Default")
                        @Html.Action("Partial4","Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


